<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Customers#/">All Customers</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Customers#/9894934943">Account Summary</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Cost Centre</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    @*<h1 class="page-title">
            All Customers
        </h1>*@
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->
    <span class="page-title">
        Velocity Limit
    </span>
    <div class="portlet-body">
        <div class="portlet-body ">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a data-target="#tab_1" data-toggle="tab" aria-expanded="true"> Transaction Limit </a>
                    </li>
                    <li class="">
                        <a data-target="#tab_2" data-toggle="tab" aria-expanded="false"> Daily Limit </a>
                    </li>
                    <li class="">
                        <a data-target="#tab_3" data-toggle="tab" aria-expanded="false"> Weekly Limit </a>
                    </li>
                    <li class="">
                        <a data-target="#tab_4" data-toggle="tab" aria-expanded="false"> Monthly Limit </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <!-- BEGIN BASIC INFORMATION -->
                        <div class="page-bar quick-info">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Class">VIP</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END BASIC INFORMATION -->
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="5000">5000</span>
                                                <small class="font-green-sharp">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">do_not_disturb_alt</i>
                                                </span>
                                            </h3>
                                            <small>CREDIT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 76% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="302">302</span>
                                                <small class="font-red-haze">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">local_atm</i>
                                                </span>
                                            </h3>
                                            <small>AVAILABLE DAILY AMOUNT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 85% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">
                                                <span data-counter="counterup" data-value="297">297</span>
                                                <small class="font-blue-sharp">litre</small>
                                            </h3>
                                            <small>AVAILABLE DAILY VOLUME LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">opacity</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 45% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">
                                                <span data-counter="counterup" data-value="13">12</span>
                                            </h3>
                                            <small>AVAILABLE DAILY COUNT LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">av_timer</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 57% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-form form custom-panel">
                            <div class="form-body">
                                <div class="head-custom">
                                    <div class="form-section section-custom">
                                        <div class="right-actions">
                                            <span ng-click="loadPricingModelHis();" class="action tooltips" data-original-title="View History"><i class="material-icons">history</i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Amount Limit Per Transaction</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Volume Limit Per Transaction</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created On</label>
                                                <div class="input-icon right input-medium">
                                                    <i class="material-icons">today</i>
                                                    <input autocomplete="on" disabled="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" id="ExpDate" name="ExpDate" section="gen" type="text" value="02/03/2017" style="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created By</label>
                                                <input class="form-control" readonly="readonly" value="user01" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <div class="main-content">
                                    <button type="button" class="btn white">Cancel</button>
                                    <button type="button" data-validation-form data-customsubmit="SaveGeneralInfo();" class="btn blue">Save</button>
                                </div>
                                <div class="prm-history" style="display:none">
                                    <button ng-click="backToMainContent();" type="button" class="btn blue"><i class="material-icons">arrow_back</i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <!-- BEGIN BASIC INFORMATION -->
                        <div class="page-bar quick-info">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Class">VIP</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END BASIC INFORMATION -->
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="5000">5000</span>
                                                <small class="font-green-sharp">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">do_not_disturb_alt</i>
                                                </span>
                                            </h3>
                                            <small>CREDIT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 76% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="302">302</span>
                                                <small class="font-red-haze">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">local_atm</i>
                                                </span>
                                            </h3>
                                            <small>AVAILABLE DAILY AMOUNT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 85% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">
                                                <span data-counter="counterup" data-value="297">297</span>
                                                <small class="font-blue-sharp">litre</small>
                                            </h3>
                                            <small>AVAILABLE DAILY VOLUME LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">opacity</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 45% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">
                                                <span data-counter="counterup" data-value="13">12</span>
                                            </h3>
                                            <small>AVAILABLE DAILY COUNT LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">av_timer</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 57% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-form form custom-panel">
                            <div class="form-body">
                                <div class="head-custom">
                                    <div class="form-section section-custom">
                                        <div class="right-actions">
                                            <span ng-click="loadPricingModelHis();" class="action tooltips" data-original-title="View History"><i class="material-icons">history</i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Amount Limit Per Day</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Volume Limit Per Day</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Count Limit Per Day</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created On</label>
                                                <div class="input-icon right input-medium">
                                                    <i class="material-icons">today</i>
                                                    <input autocomplete="on" disabled="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" id="ExpDate" name="ExpDate" section="gen" type="text" value="02/03/2017" style="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created By</label>
                                                <input class="form-control" readonly="readonly" value="user01" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <div class="main-content">
                                    <button type="button" class="btn white">Cancel</button>
                                    <button type="button" data-validation-form data-customsubmit="SaveGeneralInfo();" class="btn blue">Save</button>
                                </div>
                                <div class="prm-history" style="display:none">
                                    <button ng-click="backToMainContent();" type="button" class="btn blue"><i class="material-icons">arrow_back</i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <!-- BEGIN BASIC INFORMATION -->
                        <div class="page-bar quick-info">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Class">VIP</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END BASIC INFORMATION -->
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="5000">5000</span>
                                                <small class="font-green-sharp">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">do_not_disturb_alt</i>
                                                </span>
                                            </h3>
                                            <small>CREDIT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 76% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="302">302</span>
                                                <small class="font-red-haze">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">local_atm</i>
                                                </span>
                                            </h3>
                                            <small>AVAILABLE WEEKLY AMOUNT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 85% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">
                                                <span data-counter="counterup" data-value="297">297</span>
                                                <small class="font-blue-sharp">litre</small>
                                            </h3>
                                            <small>AVAILABLE WEEKLY VOLUME LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">opacity</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 45% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">
                                                <span data-counter="counterup" data-value="13">12</span>
                                            </h3>
                                            <small>AVAILABLE WEEKLY COUNT LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">av_timer</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 57% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-form form custom-panel">
                            <div class="form-body">
                                <div class="head-custom">
                                    <div class="form-section section-custom">
                                        <div class="right-actions">
                                            <span ng-click="loadPricingModelHis();" class="action tooltips" data-original-title="View History"><i class="material-icons">history</i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Amount Limit Per Week</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Volume Limit Per Week</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Count Limit Per Week</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created On</label>
                                                <div class="input-icon right input-medium">
                                                    <i class="material-icons">today</i>
                                                    <input autocomplete="on" disabled="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" id="ExpDate" name="ExpDate" section="gen" type="text" value="02/03/2017" style="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created By</label>
                                                <input class="form-control" readonly="readonly" value="user01" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <div class="main-content">
                                    <button type="button" class="btn white">Cancel</button>
                                    <button type="button" data-validation-form data-customsubmit="SaveGeneralInfo();" class="btn blue">Save</button>
                                </div>
                                <div class="prm-history" style="display:none">
                                    <button ng-click="backToMainContent();" type="button" class="btn blue"><i class="material-icons">arrow_back</i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <!-- BEGIN BASIC INFORMATION -->
                        <div class="page-bar quick-info">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Customer Class">VIP</span>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END BASIC INFORMATION -->
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="5000">5000</span>
                                                <small class="font-green-sharp">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">do_not_disturb_alt</i>
                                                </span>
                                            </h3>
                                            <small>CREDIT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 76% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="302">302</span>
                                                <small class="font-red-haze">RM</small>
                                                <span class="icon">
                                                    <i class="material-icons">local_atm</i>
                                                </span>
                                            </h3>
                                            <small>AVAILABLE MONTHLY AMOUNT LIMIT</small>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 85% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">
                                                <span data-counter="counterup" data-value="297">297</span>
                                                <small class="font-blue-sharp">litre</small>
                                            </h3>
                                            <small>AVAILABLE MONTHLY VOLUME LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">opacity</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 45% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">
                                                <span data-counter="counterup" data-value="13">12</span>
                                            </h3>
                                            <small>AVAILABLE MONTHLY COUNT LIMIT</small>
                                        </div>
                                        <div class="icon">
                                            <i class="material-icons">av_timer</i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% CURRENT USAGE</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> CURRENT USAGE </div>
                                            <div class="status-number"> 57% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-form form custom-panel">
                            <div class="form-body">
                                <div class="head-custom">
                                    <div class="form-section section-custom">
                                        <div class="right-actions">
                                            <span ng-click="loadPricingModelHis();" class="action tooltips" data-original-title="View History"><i class="material-icons">history</i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Amount Limit Per Month</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Volume Limit Per Month</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Count Limit Per Month</label>
                                                <input type="text" class="form-control" value="50" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created On</label>
                                                <div class="input-icon right input-medium">
                                                    <i class="material-icons">today</i>
                                                    <input autocomplete="on" disabled="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" id="ExpDate" name="ExpDate" section="gen" type="text" value="02/03/2017" style="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Created By</label>
                                                <input class="form-control" readonly="readonly" value="user01" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <div class="main-content">
                                    <button type="button" class="btn white">Cancel</button>
                                    <button type="button" data-validation-form data-customsubmit="SaveGeneralInfo();" class="btn blue">Save</button>
                                </div>
                                <div class="prm-history" style="display:none">
                                    <button ng-click="backToMainContent();" type="button" class="btn blue"><i class="material-icons">arrow_back</i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM-->
        <!-- END MAIN CONTENT-->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
    });
</script>