Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
elmah_logger/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/
CardTrend.ADODAL/obj/
CardTrend.Business/obj/
CardTrend.Domain/obj/
CardTrend.Common/obj/
CardTrend.Service/obj/
CardTrend.Web/obj/
CardTrend.ADODAL/bin/
CardTrend.Business/bin/
CardTrend.Domain/bin/
CardTrend.Common/bin/
CardTrend.Service/bin/
CardTrend.Web/bin/
CardTrend.Web/CardTrend.Web.csproj.orig
CardTrend.Web/Controllers/ApplicationController.cs.orig
CardTrend.Web/Web.config
CardTrend.Service/DAO/CardAcctSignUpDAO.cs.orig
CardTrend.Web/Scripts/_references.js
.vs/
