@using MetroOil.LoyaltyOps.Helpers
@using myResources = Resources.CardtrendApplication;

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Locations#/">All Locations</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Locations#/56484950"> Location Profile</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Locations#/56484950/Terminal"> Terminal</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Terminal Details</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">Terminal</div>
            <div class="tools">
                <a ng-click="ChangeTerminalSts('Suspended', 'Active');" class="tooltips" data-original-title="Activate Terminal"><i class="material-icons">done</i></a>
                <a ng-click="ReplaceTerminal();" class="tooltips" data-original-title="Replace Terminal"><i class="material-icons">find_replace</i></a>
                <a ng-click="ChangeTerminalSts('Active', 'Closed');" class="tooltips" data-original-title="Close Terminal"><i class="material-icons">close</i></a>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="#" class="horizontal-form form">
                <div class="form-body">
                    <!-- BEGIN BASIC INFORMATION -->
                    <div class="page-bar quick-info">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="tooltips" data-original-title="Location Name">Station 123 KLCC</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Location No.">56484950</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Location Status">Active</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Merchant Account No.">893273388</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Created On">01/05/2017</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END BASIC INFORMATION -->
                    <div class="main-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Location No.</label>
                                    <input readonly="readonly" class="form-control" value="56484950" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Terminal No.<span>(required)</span></label>
                                    <input class="form-control" value="" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old Terminal No.</label>
                                    <input readonly="readonly" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Terminal Type</label>
                                    <select class="form-control">
                                        <option></option>
                                        <option>CAT (Customer Activated Terminal)</option>
                                        <option>EDC (Electronic Data Capture)</option>
                                        <option>IPT (Indoor Payment Terminal)</option>
                                        <option>OPT (Outdoor Payment Terminal)</option>
                                        <option>PIN Pad</option>
                                        <option>Printer</option>
                                        <option>Top Up</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Device Model</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Serial No.</label>
                                    <input class="form-control" value="" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Deployed On<span>(required)</span></label>
                                    @*<input readonly="readonly" class="form-control input-medium" />*@
                                    <div class="input-icon right input-medium"><i class="material-icons">today</i><input autocomplete="on" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" section="gen" type="text" value="" style=""></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created On</label>
                                    <input readonly="readonly" class="form-control input-medium" value="22/12/2017" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created By</label>
                                    <input readonly="readonly" class="form-control input-medium" value="user01" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Terminal Status</label>
                                    <input readonly="readonly" class="form-control" value="Active" />
                                </div>
                            </div>
                            <div class="col-md-3 col-cus">
                                <div class="more-info">
                                    <a href="javascript:;">View history</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <a ng-click="backToList();" class="link quick-link">< Back to list</a>
                    <button type="button" ng-click="backToList();" class="btn white">Cancel</button>
                    <button type="button" class="btn blue">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="CrdStsHis">
    <div class="ngdialog-message">
        <div class="modal-header">
            <h4 class="modal-title">Card Status History</h4>
        </div>
        <div class="modal-body">
            <!-- BEGIN BASIC INFORMATION -->
            <div class="page-bar quick-info">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="bg-green status-block"></i>
                        <span>HSBC Sentul</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>9894934943</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Postpaid</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>VIP</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>02/12/2016</span>
                    </li>
                </ul>
            </div>
            <!-- END BASIC INFORMATION -->
            <div class="portlet-body ">
                <table dtable options="crdStsHisLst" class="table table-bordered table-striped table-condensed ">
                    <thead class="">
                        <tr>
                            <th>Changed From</th>
                            <th>Changed To</th>
                            <th>Status Change Reason</th>
                            <th>Other Status Change Reason</th>
                            <th>Remarks</th>
                            <th>Changed On</th>
                            <th>Changed By</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ChangeTerminalSts">
    <div class="ngdialog-message">
        <div class="modal-header">
            <h4 class="modal-title">{{ngDialogData.title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row warning" ng-show="ngDialogData.newSts=='Closed'">
                <div class="col-md-12">
                    <span><i class="material-icons">error_outline</i> Once this terminal is closed, you cannot reactivate it.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Current Terminal Status</label>
                        <input class="form-control" readonly value="{{ngDialogData.oldSts}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>New Terminal Status</label>
                        <input class="form-control" readonly value="{{ngDialogData.newSts}}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status Change Reason</label>
                        <select ng-model="changeReason" class="form-control">
                            <option>Activation</option>
                            <option>Replacement</option>
                            <option>Suspected Fraud</option>
                            <option>Fraud Detected</option>
                            <option>Lost</option>
                            <option>Damaged</option>
                            <option value="-1">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-show="changeReason==-1">
                        <label>Other Status Change Reason</label>
                        <textarea placeholder="Specify your reason here" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-form-action">
            <button ng-click="closeThisDialog(0)" type="button" class="btn white">Cancel</button>
            <button type="button" class="btn blue">Save</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="TerminalReplace">
    <div class="ngdialog-message">
        <div class="modal-header">
            <h4 class="modal-title">{{ngDialogData.title}}</h4>
        </div>
        <div class="modal-body model-scroll">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>New Terminal No.</label>
                        <input class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Replacement Reason</label>
                        <select ng-model="changeReason" class="form-control">
                            <option>Lost</option>
                            <option>Damaged</option>
                            <option value="-1">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-show="changeReason==-1">
                        <label>Other Replacement Reason</label>
                        <textarea placeholder="Specify your reason here" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="col-md-6 bold">
                    Current Terminal Status:
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Close Current Terminal?</label>
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                <input type="radio" ng-model="CloseCurTer" name="TerminateCurCrd" ng-value="true" checked="checked">Yes
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" ng-model="CloseCurTer" name="TerminateCurCrd" ng-value="false" checked="">No
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="CloseCurTer">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>New Status for Current Terminal</label>
                        <input class="form-control" readonly value="Closed" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status Change Reason</label>
                        <input class="form-control" readonly value="Replacement" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-form-action">
            <button ng-click="closeThisDialog(0)" type="button" class="btn white">Cancel</button>
            <button type="button" class="btn blue">Confirm</button>
        </div>
    </div>
</script>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
        $('body').removeClass('layout1menu');
    });
</script>