<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Customers#/">All Customers</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Customers#/9894934943">Account Summary</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Usage Control</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    @*<h1 class="page-title">
            All Customers
        </h1>*@
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">Location Acceptance</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body ">
                <!-- BEGIN BASIC INFORMATION -->
                <div class="page-bar quick-info">
                    <ul class="page-breadcrumb">
                        <li>
                            <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Customer Class">VIP</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
                        </li>
                    </ul>
                </div>
                <!-- END BASIC INFORMATION -->
                <div class="select-items">
                    <select id='optgroup' multiple='multiple'>
                        <optgroup label="WP KUALA LUMPUR">
                            <option value="Station KL 01">Station KL 01</option>
                            <option value="Station KL 02">Station KL 02</option>
                            <option value="Station KL 03">Station KL 03</option>
                            <option value="Station KL 04">Station KL 04</option>
                            <option value="Station KL 05">Station KL 05</option>
                        </optgroup>
                        <optgroup label="WP LABUAN">
                            <option value="Station LB 11" selected>Station LB 11</option>
                            <option value="Station LB 12" selected>Station LB 12</option>
                            <option value="Station LB 13">Station LB 13</option>
                            <option value="Station LB 14">Station LB 14</option>
                            <option value="Station LB 15">Station LB 15</option>
                        </optgroup>
                        <optgroup label="WP PUTRAJAYA">
                            <option value="Station PT 20" selected>Station PT 20</option>
                            <option value="Station PT 21">Station PT 21</option>
                            <option value="Station PT 22">Station PT 22</option>
                        </optgroup>
                        <optgroup label="JOHOR">
                            <option value="Station JR 71">Station JR 71</option>
                            <option value="Station JR 72">Station JR 72</option>
                            <option value="Station JR 73">Station JR 73</option>
                        </optgroup>
                        <optgroup label="KEDAH">
                            <option value="Station KD 01">Station KD 01</option>
                            <option value="Station KD 02">Station KD 02</option>
                            <option value="Station KD 03">Station KD 03</option>
                        </optgroup>
                        <optgroup label="KELANTAN">
                            <option value="Station KT 11">Station KT 11</option>
                            <option value="Station KT 12">Station KT 12</option>
                            <option value="Station KT 13">Station KT 13</option>
                        </optgroup>
                        <optgroup label="MELAKA">
                            <option value="Station MK 35">Station MK 35</option>
                            <option value="Station MK 36">Station MK 36</option>
                            <option value="Station MK 37">Station MK 37</option>
                        </optgroup>
                        <optgroup label="NEGERI SEMBILAN">
                            <option value="Station NS 51">Station NS 51</option>
                            <option value="Station NS 52">Station NS 52</option>
                            <option value="Station NS 53">Station NS 53</option>
                        </optgroup>
                        <optgroup label="PAHANG">
                            <option value="Station PH 01">Station PH 01</option>
                            <option value="Station PH 02">Station PH 02</option>
                            <option value="Station PH 03">Station PH 03</option>
                        </optgroup>
                        <optgroup label="PERAK">
                            <option value="Station PR 01">Station PR 01</option>
                            <option value="Station PR 02">Station PR 02</option>
                            <option value="Station PR 03">Station PR 03</option>
                        </optgroup>
                        <optgroup label="PERLIS">
                            <option value="Station PS 01">Station PS 01</option>
                            <option value="Station PS 02">Station PS 02</option>
                            <option value="Station PS 03">Station PS 03</option>
                        </optgroup>
                        <optgroup label="PULAU PINANG">
                            <option value="Station PP 01">Station PP 01</option>
                            <option value="Station PP 02">Station PP 02</option>
                            <option value="Station PP 03">Station PP 03</option>
                        </optgroup>
                        <optgroup label="SABAH">
                            <option value="Station SB 01">Station SB 01</option>
                            <option value="Station SB 02">Station SB 02</option>
                            <option value="Station SB 03">Station SB 03</option>
                        </optgroup>
                        <optgroup label="SARAWAK">
                            <option value="Station SW 01">Station SW 01</option>
                            <option value="Station SW 02">Station SW 02</option>
                            <option value="Station SW 03">Station SW 03</option>
                        </optgroup>
                        <optgroup label="SELANGOR">
                            <option value="Station SG 01">Station SG 01</option>
                            <option value="Station SG 02">Station SG 02</option>
                            <option value="Station SG 03">Station SG 03</option>
                        </optgroup>
                        <optgroup label="TERENGGANU">
                            <option value="Station TG 01">Station TG 01</option>
                            <option value="Station TG 02">Station TG 02</option>
                            <option value="Station TG 03">Station TG 03</option>
                        </optgroup>
                    </select>
                </div>
            <!-- END FORM-->
            <!-- END MAIN CONTENT-->
            @*<div class="form-actions-custom right">
                <button type="button" ng-click="backToList();" class="btn white">Cancel</button>
                <button type="button" class="btn blue">Save</button>
            </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');

        $('#optgroup').multiSelect({
            selectableHeader: '<div class="top-title">'+
                '<span>Items to select</span>'+
                '<a href="javascript:;" id="select-all">Select All</a>' +

                '</div><div class="input-icon right">' +
                '<i class= "fa fa-search"></i>'+
                '<input type="text" id="selectableSearchString" class="form-control" placeholder="Search"> </div>',
                    //"</div><input type='text' class='form-control' autocomplete='off' placeholder='Search'>",
            selectionHeader: '<div class="top-title">'+
                '<span> Selected items</span>'+
                '<a href="javascript:;" class="clear" id="deselect-all">Clear All</a>' +

                '</div><div class="input-icon right">' +
                '<i class= "fa fa-search"></i>' +
                '<input type="text" id="selectionSearchString" class="form-control" placeholder="Search"> </div>',
                    //"</div><input type='text' class='form-control' autocomplete='off' placeholder='Search'>",
            selectableOptgroup: true,
            afterInit: function (ms) {
                var that = this,
                    //$selectableSearch = that.$selectableUl.prev(),
                    //$selectionSearch = that.$selectionUl.prev(),
                    $selectableSearch = $('#selectableSearchString'),
                    $selectionSearch = $('#selectionSearchString'),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        $('#select-all').click(function () {
            $('#optgroup').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#optgroup').multiSelect('deselect_all');
            return false;
        });
        //$('#locationLst').multiselect1({
        //    search: {
        //        left: '<input type="text" name="q" class="form-control" placeholder="Search" />',
        //        right: '<input type="text" name="q" class="form-control" placeholder="Search" />',
        //    }
        //});
    });
</script>