<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                @*<a href="/Members#/{{_GeneralInfo.AcctNoHash}}">Account Summary</a>*@
                <span>Account Summary</span>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Member Profile</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    @*<h1 class="page-title">
            All Customers
        </h1>*@
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">Contact</span>
            </div>
            <div class="tools">
                <a ng-click="gotoContactNew();" href="javascript:;" class="tooltips" title="Add Contact"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="portlet-body">
                <!-- BEGIN BASIC INFORMATION -->
                <div class="page-bar quick-info">
                    <ul class="page-breadcrumb">
                        <li>
                            <span class="tooltips" data-original-title="Member Account No.">{{_GeneralInfo.AcctNo}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="First Name/Given Name">{{_GeneralInfo.GivenName}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Member Tier">{{_GeneralInfo.TierName}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Status">{{_GeneralInfo.StsName}}</span>
                        </li>
                    </ul>
                </div>
                <!-- END BASIC INFORMATION -->
                <table dtable options="dtOptions" class="table table-bordered hover">
                    <thead class="">
                        <tr>
                            <th>#</th>
                            <th>Main Contact</th>
                            <th>First Name/Given Name</th>
                            <th>Last Name/Family Name</th>
                            <th>Title</th>
                            <th>Home Phone No.</th>
                            <th>Work Phone No.</th>
                            <th>Mobile Phone No.</th>
                            <th>Fax No.</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody class="tb-pointer"></tbody>
                </table>
            <!-- END FORM-->
            <!-- END MAIN CONTENT-->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
    });
</script>