@{
    var urlPrefix = System.Configuration.ConfigurationManager.AppSettings["urlPrefix"];
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@urlPrefix/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Account Summary</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <span class="page-title">
        Account Summary
    </span>
    <!-- BEGIN BASIC INFORMATION -->
    <div class="page-bar quick-info">
        <ul class="page-breadcrumb">
            <li>
                <span class="tooltips" data-original-title="Company Name on Card">HSBC Sentul</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="tooltips" data-original-title="Customer Class">VIP</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="tooltips" data-original-title="Account Status">Active</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="tooltips" data-original-title="Approved On">15/04/2016</span>
            </li>
        </ul>
    </div>
    <!-- END BASIC INFORMATION -->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <div class="row credit-board">
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-blue-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Total Credit Limit</span>
                        <p>RM 2000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-blue-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Available Credit Limit</span>
                        <p>RM 500</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-yellow-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Unbilled Transactions</span>
                        <p>RM 1500</p>
                    </div>
                    <span class="title">
                        as of 10/01/2018
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-purple-plum txt-white">
                <div class="display">
                    <div class="number">
                        <span>Security Deposit</span>
                        <div class="sub-txt">Required</div>
                        <p>RM 5000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-green-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Last Payment</span>
                        <p>RM 1000</p>
                    </div>
                    <span class="title">
                        made on 05/01/2018
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-red-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Overdue Payment</span>
                        <p>RM 200</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-red-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Current Statement</span>
                        <p>RM 800</p>
                    </div>
                    <span class="title">
                        due on 05/02/2018
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat3 bg-gray-light txt-white">
                <div class="display">
                    <div class="number">
                        <span>Number of Associated Cards</span>
                        <p>6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
    });
</script>