@using CardTrend.FleetOps.Helpers
@model CardTrend.FleetOps.Models.FinancialInfoModel

<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="#">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="#">All Customers</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="#">Customer Profile</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Financial Details</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">Finance / Bank / Payment Info</div>
        </div>
        <div class="portlet-body form">
            <form id="fullApplicationForm" class="horizontal-form form">
                <div class="form-body">
                    <!-- BEGIN BASIC INFORMATION -->
                    <div class="page-bar quick-info">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="bg-green status-block"></i>
                                <span>HSBC Sentul</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>9894934943</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Postpaid</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>VIP</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>02/12/2016</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END BASIC INFORMATION -->
                    <div class="main-content">
                        <div class="row">
                            <div class="col-md-6">
                                @*@Html.CustomNgTextBoxFor(model => model.TaxRefNo, null, new { @section = "gen" })*@
                                <div class="form-group">
                                    <label>Tax Reference No.</label>
                                    <input class="form-control" value="09329438" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*@Html.CustomNgTextBoxFor(model => model.DunningCode, null, new { @section = "gen" })*@
                                <div class="form-group">
                                    <label>Dunning Code</label>
                                    <select class="form-control">
                                        <option>Dunning Letter &amp; Auto-blocking </option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.WriteOffDate, null, new { @date_picker = "", @readonly = "readonly", @section = "gen" })
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                @*@Html.CustomNgSelectListFor(model => model.CycNo, Model.CycNoList, new { required = true }, new { @Name = "CycNoList", @section = "gen" }, null)*@
                                <div class="form-group">
                                    <label>Cycle No.<span>*</span></label>
                                    <select class="form-control">
                                        <option>7th day of the month</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Statement / Invoice Preference</label>
                                    <select class="form-control">
                                        <option>e-statement only</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Statement Type</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked="">Statement
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked="">Invoice
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox"> Late Payment Charges
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h4 class="form-section">Bank Info</h4>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <select class="form-control">
                                        <option>HSBC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Bank Branch Code</label>
                                    <input class="form-control" value="A343348"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Bank Account Type</label>
                                    <select class="form-control">
                                        <option>Savings Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Bank Account No.</label>
                                    <input class="form-control" value="123343"/>
                                    <a class="help-dialog" data-toggle="modal" data-target="#bankAccNoSample">View Sample</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Payee Name</label>
                                    <input class="form-control" value="Siti Norhara"/>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">Payment Info</h4>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Payment Mode</label>
                                    <select class="form-control" disabled="disabled">
                                        <option>Bank Transfer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Payment Terms<span>*</span></label>
                                    <select class="form-control" disabled="disabled">
                                        <option>3 Months</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Grace Period (days)</label>
                                    <input class="form-control input-small" disabled value="0" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Credit Allowance Factor (%)</label>
                                    <input class="form-control input-small" value="32" disabled />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sales Territory</label>
                                    <select class="form-control" disabled="disabled">
                                        <option>Central 1</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
                <div class="form-actions right">
                    <div class="main-content">
                        <button type="button" class="btn white">Cancel</button>
                        <button type="button" data-validation-form data-customsubmit="" class="btn blue">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="bankAccNoSample" class="modal" tabindex="-1" data-width="80%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Sample of Bank Account Number Length</h4>
        </div>
        <div class="modal-body model-scroll">
            <div class="portlet-body">
                <div class="">
                    <table class="table table-bordered table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th> Bank Name </th>
                                <th> Transaction Type </th>
                                <th> Length of Account No. </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td rowspan="4">AFFIN BANK BERHAD / AFFIN ISLAMIC BANK</td><td>Credit Card</td><td>16 digits</td></tr>
                            <tr><td>Funds Transfer</td><td>12 digits</td></tr>
                            <tr><td>Hire Purchase</td><td>12 digits</td></tr>
                            <tr><td>Loan Payment</td><td>12 digits</td></tr>
                            <tr><td rowspan="2">AL-RAJHI BANKING &amp; INVESTMENT CORP (M) BERHAD</td><td>Current / Savings Account</td><td>15 digits</td></tr>
                            <tr><td>Credit Card</td><td>16 digits</td></tr>
                            <tr><td rowspan="4">ALLIANCE BANK MALAYSIA BERHAD</td><td>Current / Savings Account</td><td>15 digits</td></tr>
                            <tr><td>Credit Card</td><td>16 digits</td></tr>
                            <tr><td>Loans</td><td>15 digits</td></tr>
                            <tr><td>Hire Purchase</td><td>15 digits</td></tr>
                            <tr><td rowspan="4">AMBANK (M) BERHAD</td><td>Current / Savings Account</td><td>13 digits</td></tr>
                            <tr><td>Credit Card</td><td>16 digits</td></tr>
                            <tr><td>Loans&nbsp;</td><td>14 digits</td></tr>
                            <tr><td>Hire Purchase</td><td>14 digits</td></tr>
                            <tr><td rowspan="4">BANK ISLAM MALAYSIA</td><td>Current / Savings Account</td><td>14 digits</td></tr>
                            <tr><td>Credit Card</td><td>16 digits</td></tr>
                            <tr><td>Loans</td><td>14 digits</td></tr>
                            <tr><td>Hire Purchase</td><td>14 digits</td></tr>
                            <tr><td rowspan="4">BANK KERJASAMA RAKYAT MALAYSIA BERHAD</td><td>Current / Savings Account</td><td>12 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">BANK OF AMERICA (M) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">5 -17 digits</td></tr>
                            <tr><td rowspan="2"><p align="left">BANK OF CHINA (M) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">13 &amp; 15 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td rowspan="2">BANK OF TOKYO-MITSUBISHI UFJ (MALAYSIA) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">6 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">6 digits</td></tr>
                            <tr><td colspan="1">BANK MUAMALAT</td><td colspan="1">Current / Savings Account</td><td colspan="1">14 digits</td></tr>
                            <tr><td rowspan="2">BANK PERTANIAN MALAYSIA BERHAD (AGROBANK)</td><td colspan="1">Current / Savings Account</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">17 digits</td></tr>
                            <tr><td rowspan="4">BANK SIMPANAN NASIONAL BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">15 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">15 digits</td></tr>
                            <tr><td rowspan="2">BNP PARIBAS MALAYSIA</td><td colspan="1">Current / Savings Account</td><td colspan="1">6 -16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">16 digits</td></tr>
                            <tr><td rowspan="4">CIMB BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">14 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">10, 14 &amp; 17 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">10, 12 &amp; 17 digits</td></tr>
                            <tr><td rowspan="3">CITIBANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">9 - 16 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">15 - 16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">14 digits</td></tr>
                            <tr><td rowspan="2">DEUTSCHE BANK (MALAYSIA) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">10 - 17 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">10 - 17 digits</td></tr>
                            <tr><td rowspan="4">EON BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">13 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">13 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">13 digits</td></tr>
                            <tr><td rowspan="4">HONG LEONG BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">11 - 13 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">15 - 16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">11 - 13 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">11 - 13 digits</td></tr>
                            <tr><td rowspan="3">HSBC BANK MALAYSIA BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">12 - 17 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">12 digits</td></tr>
                            <tr><td rowspan="3">INDUSTRIAL AND COMMERCIAL BANK OF CHINA (MALAYSIA) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">17 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">17 digits</td></tr>
                            <tr><td rowspan="2">J.P. MORGAN CHASE BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">10 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">10 digits</td></tr>
                            <tr><td rowspan="3">KUWAIT FINANCE HOUSE MALAYSIA BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">12 digits</td></tr>
                            <tr><td rowspan="4">MALAYAN BANKING BERHAD (MAYBANK)</td><td colspan="1">Current / Savings Account</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">15 - 16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">12 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">12 digits</td></tr>
                            <tr><td rowspan="3">OCBC BANK (MALAYSIA) BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">10 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">15 digits</td></tr>
                            <tr><td rowspan="4">PUBLIC BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">10 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">15 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">15 digits</td></tr>
                            <tr><td rowspan="4">RHB BANK BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">14 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">14 digits</td></tr>
                            <tr><td colspan="1">Hire Purchase</td><td colspan="1">12 digits</td></tr>
                            <tr><td rowspan="3">STANDARD CHARTERED BANK MALAYSIA BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">5 - 17 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">8 digits</td></tr>
                            <tr><td colspan="1">SUMITOMO MITSUI BANKING CORPORATION MALAYSIA BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">8 digits</td></tr>
                            <tr><td rowspan="2">THE ROYAL BANK OF SCOTLAND BERHAD</td><td colspan="1">Current / Savings Account</td><td colspan="1">7 &amp; 9 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">7, 9 &amp; 10 digits</td></tr>
                            <tr><td rowspan="3">UNITED OVERSEAS BANK (MALAYSIA) BHD.</td><td colspan="1">Current / Savings Account</td><td colspan="1">11 digits</td></tr>
                            <tr><td colspan="1">Credit Card</td><td colspan="1">16 digits</td></tr>
                            <tr><td colspan="1">Loans</td><td colspan="1">11 digits</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END FORM-->
    <!-- END MAIN CONTENT-->
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
        $('.date-picker').datepicker();

        //$('.sample-card-table').DataTable({
        //    "scrollY": "200px",
        //    "scrollCollapse": true,
        //    "paging": false
        //});
        //App.alert({
        //    place: 'append', // append or prepent in container
        //    type: 'success', // alert's type
        //    message: 'You have created an application successfully. Application ID: <b>748389391</b>', // alert's message
        //    close: true, // make alert closable
        //    reset: false, // close all previouse alerts first
        //    focus: false, // auto scroll to the alert after shown
        //    //closeInSeconds: 5 // auto close after defined seconds
        //    //icon: 'fa fa-check-circle' // put icon class before the message
        //});
    });

    var viewSampleBankNo = function () {
        alert('a')
    }
</script>
