@using MetroOil.LoyaltyOps.Helpers
@model MetroOil.LoyaltyOps.Models.Admin.UserRoleModel
@{
    var urlPrefix = System.Configuration.ConfigurationManager.AppSettings["urlPrefix"];
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@urlPrefix/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="#/UserAccessManagement">User Role Access</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href=""> Create User Role Access</a>
            </li>

        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">CREATE USER ROLE ACCESS</div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.CustomNgTextBoxFor(model => model.UserRoleNo, null, new { @section = "gen" })
                        </div>
                        <div class="col-md-3">
                            @Html.CustomNgTextBoxFor(model => model.UserRoleName, null, new { @section = "gen" })
                        </div>
                    </div>

                    <div class="form-section section-custom"><h4>User Role Permission</h4> </div>
                        <div class="row">
                            <div class="col-md-9">
                                <tree-view checkbox click="myClick(node)" model="TreeMatrix"></tree-view>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group-vertical pull-right">
                                    <button class="btn btn-success" ng-click="ResetMatrix()" type="button">
                                        Reset
                                    </button>
                                    <button class="btn blue top-buffer" ng-click="SellectAll()" type="button">
                                        Select All
                                    </button>
                                    <button class="top-buffer btn white" ng-click="ClearAll()" type="button">
                                        Clear All
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-actions right">
                    <button type="button" ng-click="BackToList();" class="btn white">Cancel</button>
                    <button type="button" data-validation-form data-customsubmit="SaveInfoUserMatrix()" class="btn blue">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui.custom.js"></script>
<link href="~/Content/ui.dynatree.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dynatree.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
        $('body').addClass('layout1menu');
    });
</script>