@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout2Menu.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="~/">All Customers</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Customer Profile</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <span class="page-title">
        Customer Profile
    </span>
    <!-- BEGIN BASIC INFORMATION -->
    <div class="page-bar quick-info">
        <ul class="page-breadcrumb">
            <li>
                <i class="bg-green status-block"></i>
                <span>HSBC Sentul</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>9894934943</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>PostPaid</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>VIP</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>02/12/2016</span>
            </li>
        </ul>
    </div>
    <!-- END BASIC INFORMATION -->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <div class="row widget-row">
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">CREDIT LIMIT</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-red material-icons">block</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">RM</span>
                        <span class="widget-thumb-body-stat">2,000 <span class="unit">/ Month</span></span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">VELOCITY LIMIT</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-orange material-icons">timelapse</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">RM</span>
                        <span class="widget-thumb-body-stat">200 <span class="unit">/ Day</span></span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">NEW CARD</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-blue material-icons">card_membership</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">Mohammad Ali</span>
                        <span class="widget-thumb-body-stat">32838748374</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">LAST SALES</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-purple material-icons">attach_money</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">RM</span>
                        <span class="widget-thumb-body-stat">40 <span class="unit">in KL</span></span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">UNBILLED TRANSACTIONS</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-gray material-icons">receipt</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">RM</span>
                        <span class="widget-thumb-body-stat">460</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white margin-bottom-20 bordered">
                <h4 class="widget-thumb-heading">BILLED TRANSACTIONS</h4>
                <a href="#"><i class="icon-arrow-right golink"></i></a>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-green material-icons">bookmark_border</i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">RM</span>
                        <span class="widget-thumb-body-stat">1599</span>
                    </div>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>
