<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Cards#/">All Cards</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Cards#/738278">Card Summary</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Usage Control</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    @*<h1 class="page-title">
            All Customers
        </h1>*@
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">Velocity Limit</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body ">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a data-target="#tab_1" data-toggle="tab" aria-expanded="true"> Transaction Limit </a>
                        </li>
                        <li class="">
                            <a data-target="#tab_2" data-toggle="tab" aria-expanded="false"> Daily Limit </a>
                        </li>
                        <li class="">
                            <a data-target="#tab_3" data-toggle="tab" aria-expanded="false"> Weekly Limit </a>
                        </li>
                        <li class="">
                            <a data-target="#tab_4" data-toggle="tab" aria-expanded="false"> Monthly Limit </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <!-- BEGIN BASIC INFORMATION -->
                            <div class="page-bar quick-info">
                                <ul class="page-breadcrumb">
                                    <li>
                                        <span class="tooltips" data-original-title="Name on Card">Alex Tan</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card No.">738278</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card Type">Standalone</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Company / Individual Name">HSBC Sentul</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Created On">22/12/2017</span>
                                    </li>
                                </ul>
                                <div class="tools">
                                    <button ng-click="addTxnLmt();" type="button" class="btn blue">+ Add Transaction Limit</button>
                                </div>
                            </div>
                            <!-- END BASIC INFORMATION -->
                            <div class="row">
                                <div>
                                    <div class="col-md-12">
                                        <div class="chart-box chart-box-1-col">
                                            <div id="txnLmtChart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table id="TxnLmtTbl" class="table table-bordered table-striped table-condensed  ng-isolate-scope dataTable no-footer">
                                    <thead class="">
                                        <tr>
                                            <th>#</th>
                                            <th>Product Group</th>
                                            <th>Amount Limit Per Transaction (RM)</th>
                                            <th>Volume Limit Per Transaction (litre)</th>
                                            <th style="width:100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in TxnLmtItems">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <select class="form-control" ng-show="item.isEdit">
                                                    <option>{{item.ProductGroup}}</option>
                                                </select>
                                                <span ng-hide="item.isEdit">
                                                    {{item.ProductGroup}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.AmtLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.AmtLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.VlmLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.VlmLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-show="item.isEdit">
                                                    <a href="javascript:;" id="btnCancelRow" ng-click="txnLmtCancel(item);" class="btn btn-sm btn-small grey-cascade"><i class="fa fa-times"></i></a>
                                                    <a href="javascript:;" id="btnSaveRow" ng-click="txnLmtSave(item);" class="btn btn-sm btn-small green"><i class="fa fa-check"></i></a>
                                                </div>
                                                <div class="btn-group" ng-hide="item.isEdit">
                                                    <a href="javascript:;" id="btnDeleteRow" ng-click="txnLmtDelete(item);" class="btn btn-sm btn-small red"><i class="fa fa-trash-o"></i></a>
                                                    <a href="javascript:;" id="btnEditRow" ng-click="txnLmtEdit(item);" class="btn btn-sm btn-small btn-success"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <!-- BEGIN BASIC INFORMATION -->
                            <div class="page-bar quick-info">
                                <ul class="page-breadcrumb">
                                    <li>
                                        <span class="tooltips" data-original-title="Name on Card">Alex Tan</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card No.">738278</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card Type">Standalone</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Company / Individual Name">HSBC Sentul</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Created On">22/12/2017</span>
                                    </li>
                                </ul>
                                <div class="tools">
                                    <button ng-click="addDailyLmt();" type="button" class="btn blue">+ Add Daily Limit</button>
                                </div>
                            </div>
                            <!-- END BASIC INFORMATION -->
                            <div class="row">
                                <div>
                                    <div class="col-md-6 chart-box-1">
                                        <div class="chart-box">
                                            <div id="dailyLmt1Chart"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 chart-box-2">
                                        <div class="chart-box">
                                            <div id="dailyLmt2Chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table id="DailyLmtTbl" class="table table-bordered table-striped table-condensed  ng-isolate-scope dataTable no-footer">
                                    <thead class="">
                                        <tr>
                                            <th>#</th>
                                            <th>Product Group</th>
                                            <th>Amount Limit Per Day (RM)</th>
                                            <th>Volume Limit Per Day (litre)</th>
                                            <th>Count Limit Per Day</th>
                                            <th style="width:100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in DailyLmtItems">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <select class="form-control" ng-show="item.isEdit">
                                                    <option>{{item.ProductGroup}}</option>
                                                </select>
                                                <span ng-hide="item.isEdit">
                                                    {{item.ProductGroup}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.AmtLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.AmtLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.VlmLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.VlmLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.CntLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.CntLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-show="item.isEdit">
                                                    <a href="javascript:;" id="btnCancelRow" ng-click="dailyLmtCancel(item);" class="btn btn-sm btn-small grey-cascade"><i class="fa fa-times"></i></a>
                                                    <a href="javascript:;" id="btnSaveRow" ng-click="dailyLmtSave(item);" class="btn btn-sm btn-small green"><i class="fa fa-check"></i></a>
                                                </div>
                                                <div class="btn-group" ng-hide="item.isEdit">
                                                    <a href="javascript:;" id="btnDeleteRow" ng-click="dailyLmtDelete(item);" class="btn btn-sm btn-small red"><i class="fa fa-trash-o"></i></a>
                                                    <a href="javascript:;" id="btnEditRow" ng-click="dailyLmtEdit(item);" class="btn btn-sm btn-small btn-success"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <!-- BEGIN BASIC INFORMATION -->
                            <div class="page-bar quick-info">
                                <ul class="page-breadcrumb">
                                    <li>
                                        <span class="tooltips" data-original-title="Name on Card">Alex Tan</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card No.">738278</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card Type">Standalone</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Company / Individual Name">HSBC Sentul</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Created On">22/12/2017</span>
                                    </li>
                                </ul>
                                <div class="tools">
                                    <button ng-click="addWeeklyLmt();" type="button" class="btn blue">+ Add Weekly Limit</button>
                                </div>
                            </div>
                            <!-- END BASIC INFORMATION -->
                            <div class="row">
                                <div>
                                    <div class="col-md-6 chart-box-1">
                                        <div class="chart-box">
                                            <div id="weeklyLmt1Chart"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 chart-box-2">
                                        <div class="chart-box">
                                            <div id="weeklyLmt2Chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table id="WeeklyLmtTbl" class="table table-bordered table-striped table-condensed  ng-isolate-scope dataTable no-footer">
                                    <thead class="">
                                        <tr>
                                            <th>#</th>
                                            <th>Product Group</th>
                                            <th>Amount Limit Per Week (RM)</th>
                                            <th>Volume Limit Per Week (litre)</th>
                                            <th>Count Limit Per Week</th>
                                            <th style="width:100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in WeeklyLmtItems">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <select class="form-control" ng-show="item.isEdit">
                                                    <option>{{item.ProductGroup}}</option>
                                                </select>
                                                <span ng-hide="item.isEdit">
                                                    {{item.ProductGroup}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.AmtLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.AmtLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.VlmLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.VlmLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.CntLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.CntLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-show="item.isEdit">
                                                    <a href="javascript:;" id="btnCancelRow" ng-click="weeklyLmtCancel(item);" class="btn btn-sm btn-small grey-cascade"><i class="fa fa-times"></i></a>
                                                    <a href="javascript:;" id="btnSaveRow" ng-click="weeklyLmtSave(item);" class="btn btn-sm btn-small green"><i class="fa fa-check"></i></a>
                                                </div>
                                                <div class="btn-group" ng-hide="item.isEdit">
                                                    <a href="javascript:;" id="btnDeleteRow" ng-click="weeklyLmtDelete(item);" class="btn btn-sm btn-small red"><i class="fa fa-trash-o"></i></a>
                                                    <a href="javascript:;" id="btnEditRow" ng-click="weeklyLmtEdit(item);" class="btn btn-sm btn-small btn-success"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <!-- BEGIN BASIC INFORMATION -->
                            <div class="page-bar quick-info">
                                <ul class="page-breadcrumb">
                                    <li>
                                        <span class="tooltips" data-original-title="Name on Card">Alex Tan</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card No.">738278</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Card Type">Standalone</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Company / Individual Name">HSBC Sentul</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span class="tooltips" data-original-title="Created On">22/12/2017</span>
                                    </li>
                                </ul>
                                <div class="tools">
                                    <button ng-click="addMonthlyLmt();" type="button" class="btn blue">+ Add Monthly Limit</button>
                                </div>
                            </div>
                            <!-- END BASIC INFORMATION -->
                            <div class="row">
                                <div>
                                    <div class="col-md-6 chart-box-1">
                                        <div class="chart-box">
                                            <div id="monthlyLmt1Chart"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 chart-box-2">
                                        <div class="chart-box">
                                            <div id="monthlyLmt2Chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table id="MonthlyLmtTbl" class="table table-bordered table-striped table-condensed  ng-isolate-scope dataTable no-footer">
                                    <thead class="">
                                        <tr>
                                            <th>#</th>
                                            <th>Product Group</th>
                                            <th>Amount Limit Per Month (RM)</th>
                                            <th>Volume Limit Per Month (litre)</th>
                                            <th>Count Limit Per Month</th>
                                            <th style="width:100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in MonthlyLmtItems">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <select class="form-control" ng-show="item.isEdit">
                                                    <option>{{item.ProductGroup}}</option>
                                                </select>
                                                <span ng-hide="item.isEdit">
                                                    {{item.ProductGroup}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.AmtLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.AmtLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.VlmLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.VlmLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-show="item.isEdit" value="{{item.CntLmt}}" />
                                                <span ng-hide="item.isEdit">
                                                    {{item.CntLmt}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-show="item.isEdit">
                                                    <a href="javascript:;" id="btnCancelRow" ng-click="monthlyLmtCancel(item);" class="btn btn-sm btn-small grey-cascade"><i class="fa fa-times"></i></a>
                                                    <a href="javascript:;" id="btnSaveRow" ng-click="monthlyLmtSave(item);" class="btn btn-sm btn-small green"><i class="fa fa-check"></i></a>
                                                </div>
                                                <div class="btn-group" ng-hide="item.isEdit">
                                                    <a href="javascript:;" id="btnDeleteRow" ng-click="monthlyLmtDelete(item);" class="btn btn-sm btn-small red"><i class="fa fa-trash-o"></i></a>
                                                    <a href="javascript:;" id="btnEditRow" ng-click="monthlyLmtEdit(item);" class="btn btn-sm btn-small btn-success"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FORM-->
            <!-- END MAIN CONTENT-->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');

        drawTxnLimitChart();

        drawDailyLimit1Chart();
        drawDailyLimit2Chart();

        drawWeeklyLimit1Chart();
        drawWeeklyLimit2Chart();

        drawMonthlyLimit1Chart();
        drawMonthlyLimit2Chart();
    });

    // TXN LIMIT CHART 1
    function drawTxnLimitChart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 50, 100],
           ['003 Petrol only', 20, 100],
           ['004 Petrol & Service only', 40, 100],
           ['005 Service only', 5, 100]
        ]);

        var options = {
            title: 'Transaction Limit By Amount/Volume',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
                //format: 'h:mm a',
                //viewWindow: {
                //    min: [0, 0, 0],
                //    max: [5, 0, 0]
                //},
            },
            vAxis: {
                title: 'Transaction Limit (%)'
            },
            colors: ['#E26A6A', '#1BBC9B'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('txnLmtChart'));
        chart.draw(data, options);
    }

    // DAILY LIMIT CHART 1
    function drawDailyLimit1Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 50, 100],
           ['003 Petrol only', 20, 100],
           ['004 Petrol & Service only', 40, 100],
           ['005 Service only', 5, 100]
        ]);

        var options = {
            title: 'Daily Limit By Amount/Volume',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Daily Limit (%)'
            },
            colors: ['#E26A6A', '#1BBC9B'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('dailyLmt1Chart'));
        chart.draw(data, options);
    }

    // DAILY LIMIT CHART 2
    function drawDailyLimit2Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 15, 100],
           ['003 Petrol only', 30, 100],
           ['004 Petrol & Service only', 80, 100],
           ['005 Service only', 50, 100]
        ]);

        var options = {
            title: 'Daily Limit By Count',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Daily Limit (%)'
            },
            colors: ['#F3C200', '#578EBE'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('dailyLmt2Chart'));
        chart.draw(data, options);
    }

    // WEEKLY LIMIT CHART 1
    function drawWeeklyLimit1Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 90, 100],
           ['003 Petrol only', 50, 100],
           ['004 Petrol & Service only', 60, 100],
           ['005 Service only', 85, 100]
        ]);

        var options = {
            title: 'Weekly Limit By Amount/Volume',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Weekly Limit (%)'
            },
            colors: ['#E26A6A', '#1BBC9B'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('weeklyLmt1Chart'));
        chart.draw(data, options);
    }

    // WEEKLY LIMIT CHART 2
    function drawWeeklyLimit2Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 20, 100],
           ['003 Petrol only', 40, 100],
           ['004 Petrol & Service only', 70, 100],
           ['005 Service only', 60, 100]
        ]);

        var options = {
            title: 'Weekly Limit By Count',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Weekly Limit (%)'
            },
            colors: ['#F3C200', '#578EBE'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('weeklyLmt2Chart'));
        chart.draw(data, options);
    }

    // MONTHLY LIMIT CHART 1
    function drawMonthlyLimit1Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 50, 100],
           ['003 Petrol only', 20, 100],
           ['004 Petrol & Service only', 40, 100],
           ['005 Service only', 5, 100]
        ]);

        var options = {
            title: 'Monthly Limit By Amount/Volume',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Monthly Limit (%)'
            },
            colors: ['#E26A6A', '#1BBC9B'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('monthlyLmt1Chart'));
        chart.draw(data, options);
    }

    // MONTHLY LIMIT CHART 2
    function drawMonthlyLimit2Chart() {
        // COLUMN CHART
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Product Group');
        data.addColumn('number', 'Usage');
        data.addColumn('number', 'Limit');
        //data.addColumn('role', 'style')

        data.addRows([
           ['002 Diesel only', 15, 100],
           ['003 Petrol only', 30, 100],
           ['004 Petrol & Service only', 80, 100],
           ['005 Service only', 50, 100]
        ]);

        var options = {
            title: 'Monthly Limit By Count',
            focusTarget: 'category',
            hAxis: {
                title: 'Product Group',
            },
            vAxis: {
                title: 'Monthly Limit (%)'
            },
            colors: ['#F3C200', '#578EBE'],
            'width': 500,
            'height': 300,
            chartArea: { width: "60%", height: "60%" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('monthlyLmt2Chart'));
        chart.draw(data, options);
    }
</script>