@using MetroOil.LoyaltyOps.Helpers
@model MetroOil.LoyaltyOps.Models.AcctSignUpModel
@using AcctLeftMenu = Resources.AccountLeftMenu

<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Cards#/">All Cards</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <a href="/Cards#/738278">Card Summary</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Discount &amp; Rebate Plan</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">Discount &amp; Rebate Plan</div>
        </div>
        <div class="portlet-body form">
            <form id="fullApplicationForm" class="horizontal-form form">
                <div class="form-body">
                    <!-- BEGIN BASIC INFORMATION -->
                    <div class="page-bar quick-info">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="tooltips" data-original-title="Name on Card">Alex Tan</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Card No.">738278</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Card Type">Standalone</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Customer Account No.">9894934943</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Company / Individual Name">HSBC Sentul</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Program Type">Postpaid</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Created On">22/12/2017</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END BASIC INFORMATION -->
                    <div class="main-content">
                        <h4 class="form-section">Plan Info</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Plan ID</label>
                                    <input type="text" class="form-control" value="001" readonly />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Plan Title<span>(required)</span></label>
                                    <input type="text" class="form-control" value="Plan 1" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Plan Description</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Plan Type<span>(required)</span></label>
                                    <select class="form-control">
                                        <option>Volume based</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity Period</label>
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control" name="from">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Eligible Product Group<span>(required)</span></label>
                                    <select class="form-control">
                                        <option>Group 1</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label></label>
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox"> Online
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created On</label>
                                    <div class="input-icon right input-medium">
                                        <i class="material-icons">today</i>
                                        <input autocomplete="on" disabled="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-not-empty ng-touched" date_picker="" id="ExpDate" name="ExpDate" section="gen" type="text" value="11/06/2015" style="">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created By</label>
                                    <input class="form-control" readonly="readonly" value="user01" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="form-section section-custom">
                            <h4>Value Settings</h4>
                            <div class="right-actions">
                                <span ng-click="loadValueSettingNew();" class="action tooltips" data-original-title="Add Value"><i class="material-icons">add</i></span>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-condensed ng-isolate-scope dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Tier Value</th>
                                    <th>Basic Value</th>
                                    <th>Billed Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ValueSettingItems">
                                    <td>
                                        <input ng-show="item.isEdit" ng-disabled="isEdit" amount ng-model="item.TierValue" ng-class="input.$valid?'':'errorthere'" class="form-control acctno" type="text" />
                                        <span ng-hide="item.isEdit">
                                            {{item.TierValue}}
                                        </span>
                                    </td>
                                    <td>
                                        <input ng-show="item.isEdit" ng-disabled="isEdit" amount ng-model="item.BasicValue" ng-class="input.$valid?'':'errorthere'" class="form-control acctno" type="text" />
                                        <span ng-hide="item.isEdit">
                                            {{item.BasicValue}}
                                        </span>
                                    </td>
                                    <td>
                                        <input ng-show="item.isEdit" ng-disabled="isEdit" amount ng-model="item.BilledValue" ng-class="input.$valid?'':'errorthere'" class="form-control acctno" type="text" />
                                        <span ng-hide="item.isEdit">
                                            {{item.BilledValue}}
                                        </span>
                                    </td>
                                    <td>
                                        <div class="btn-group" ng-show="item.isEdit">
                                            <a href="javascript:;" id="btnCancelRow" ng-click="valueSettingCancel(item);" class="btn btn-sm btn-small grey-cascade"><i class="fa fa-times"></i></a>
                                            <a href="javascript:;" id="btnSaveRow" ng-click="valueSettingSave(item);" class="btn btn-sm btn-small green"><i class="fa fa-check"></i></a>
                                        </div>
                                        <div class="btn-group" ng-hide="item.isEdit">
                                            <a href="javascript:;" id="btnDeleteRow" ng-click="valueSettingDelete(item);" class="btn btn-sm btn-small red"><i class="fa fa-trash-o"></i></a>
                                            <a href="javascript:;" id="btnEditRow" ng-click="valueSettingEdit(item);" class="btn btn-sm btn-small btn-success"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @*<table dtable options="ValueSettingsLst" class="table table-bordered table-striped table-condensed ">
                            <thead class="">
                                <tr>
                                    <th>Tier Value</th>
                                    <th>Basic Value</th>
                                    <th>Billed Value</th>
                                    <th>Updated On</th>
                                    <th>Updated By</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>*@
                    </div>
                    @*<div class="prm-history" style="display:none">
                    <h4 class="form-section">Pricing Model History</h4>
                    <table dtable options="PricingModelHisLst" class="table table-bordered table-striped table-condensed ">
                        <thead class="">
                            <tr>
                                <th>#</th>
                                <th>Unit Price</th>
                                <th>Validity Period</th>
                                <th>Created On</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>*@
                </div>
                <div class="form-actions right">
                    <a ng-click="backToList();" class="link quick-link">< Back to list</a>
                    <div class="main-content">
                        <button type="button" ng-click="backToList();" class="btn white">Cancel</button>
                        <button type="button" data-validation-form data-customsubmit="" class="btn blue">Save</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                $(function () {
                    App.init(); // init metronic core componets
                });
            </script>
        </div>
    </div>
    <!-- END FORM-->
    <!-- END MAIN CONTENT-->
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
        $('.date-picker').datepicker();
    });
    function showStatusHistory() {
        $('.main-content').hide();
        $('.stt-history').show();
    };

    function backToMainContent() {
        $('.main-content').show();
        $('.stt-history').hide();
    }
</script>